
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@font-face {
    src: url("../fonts/newake.woff2") format("woff2");
    font-family: "Newake";
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // border: solid magenta 1px;
}

:root {
    --jaune : #E3E3CD;
    --noir : #292828;
    --spacing : .05rem;

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--jaune);
    overflow-x: hidden;

}

header {
    padding-top: 7.1rem;
    width: calc(100vw - 5rem*2);
    margin: auto;

    nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .logo {
            width: 5rem;
            height: auto;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 8rem;

            a {
                font-family: 'Poppins', sans-serif;
                font-size: 2rem;
                color: var(--noir);
                font-weight: 700;
                text-decoration: none;
            }
        }
    }

}

.qui_suis_je {
    margin: 24.4rem 5vw 0 5vw;
    
    h2 {
        font-family: 'Newake', sans-serif;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: var(--spacing);
        color: var(--noir);
        text-transform: uppercase;
    }

    .p1_qui_suis_je {
        margin-top: 5rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--noir);
        width: 90.4rem;
    }

    .image_container {
        height: 108.6rem;
        width: auto;
        position: relative;
        z-index: 0;

        img {
            height: 100%;
            width: auto;
        }
    }

    .p2_qui_suis_je {
        width: 63.4rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--noir);
        position: absolute;
        top: 106.2rem;
        right: 7.5rem;
        z-index: 1;
    }

    .capable {
        display: flex;
        flex-direction: column;
        margin-top: 25.3rem;
        row-gap: 7.3rem;

        h2 {
        font-family: 'Newake', sans-serif;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: var(--spacing);
        color: var(--noir);
        text-transform: uppercase;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--noir);
        }
    }

    .row_img {
        margin-top: 9.4rem;
        display: flex;
        flex-direction: row;
        column-gap: 5.7rem;
    }
}

.bio {
   margin-top: 50rem;
   height: 443.1rem;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;

    .rect {
        min-width: 100vw;
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 0;
    }

    .parcours {
        font-family: 'Newake', sans-serif;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: var(--spacing);
        color: var(--jaune);
        text-transform: uppercase;
        position: absolute;
        top: 167.2rem;
    }

   .tree {
    position: absolute;
    bottom:0;
    z-index: 1;
   }

   .wrapper_items {
    display: flex;
    flex-direction: row;
    gap: 12.5rem;
    position: absolute;
    z-index: 1;
    top: 230.4rem;
    max-width: 106.4rem;
    align-items: center;

    .wrapped_item {
        display: flex;
        width: 100%;
        flex-direction: column;

        .parcours_item {
  

            h4 {
                font-family: 'Newake', sans-serif;
                font-size: 3.725rem;
                margin-bottom: 1.4rem;
                font-weight: 400;
                letter-spacing: var(--spacing);
                color: var(--jaune);
            }
    
            .p1_parcours {
                font-family: "Poppins", sans-serif;
                font-size: 3rem;
                font-weight: 400;
                color: var(--jaune);
                margin-bottom: 1.4rem;
            }
    
            .p2_parcours {
                font-family: "Poppins", sans-serif;
                font-size: 1.6rem;
                font-weight: 400;
                color: var(--jaune);
            }
    
            &.bacsi {
                top: 219rem;
                left: 91.3rem;
            }
    
            &.dutinfo {
                top: 269.6rem;
                left: 33.3rem;
            }
    
            &.dutmmi {
                top: 301.9rem;
                left: 91.3rem;
            }
    
            &.ostmicro {
                top: 348.1rem;
                left: 33.3rem;
            }
    
            &.mdsparis {
                top: 396.2rem;
                left: 93.3rem;
            }
        }

    }

    .wrapped_item:nth-child(1) {
        gap: 59rem;
    }

    .wrapped_item:nth-child(2) {
        gap: 70.4rem;
    }

   }



}

footer {
    display: flex;
    flex-direction: column;
    margin: 20.9rem 5vw 0 5vw;

    p {
        font-family: 'Newake', sans-serif;
        font-size: 2rem;
        color: var(--noir);
        letter-spacing: var(--spacing);
    }
    .gros_bouton {
        margin-top: 2.6rem;
        height: 46.3rem;
        border: solid var(--noir) 1px;
        border-radius: 102px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        p {
            font-size: 10rem;
            text-transform: uppercase;
        }
    }

    .etletour {
        margin-top: 2.6rem;
        align-self: flex-end;
    }

    h4 {
        margin-top: 15.2rem;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        align-self: center;
        font-weight: 500;
        margin-bottom: 5.4rem;
    }

}